@import '~font-awesome/css/font-awesome.min.css';
@import 'products';
@import 'product';
@import 'orders';
@import 'login';
@import 'dashboard';
@import 'order';
@import 'shared';

* {
  box-sizing: border-box;
}
.App {
  width: 100%;
  padding: 0 200px;
}

p {
  margin: 0;
  font-size: 14px;
}

input[type='text'], input[type='number'], input[type='password'] {
  border: 1px solid #eee;
  border-radius: 2px;
  width: 100%;
  height: 31px;
  font-size: 14px;
  padding: 0 10px;

  &:focus {
    outline: none;
  }
}

input[type='checkbox'] {
  margin-left: 8px;
}

textarea {
  border: 1px solid #eee;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 5px 10px;

  &:focus {
    outline: none;
  }
}

button {
  appearance: none;
  border: none;
  padding: 5px;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
