@import url(~font-awesome/css/font-awesome.min.css);
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #eee;
  border-radius: 2px;
  padding: 10px; }
  .header:last-child {
    border-bottom: none; }
  .header p {
    font-weight: bold; }
  .header .section--top-right {
    display: flex;
    justify-content: flex-end; }
    .header .section--top-right a {
      color: #333;
      text-decoration: none; }
      .header .section--top-right a:hover {
        opacity: 0.7; }

.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body .content {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 2px; }

.row, .row--fetching {
  min-height: 60px;
  width: 100%;
  display: flex; }

.confirmation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .confirmation--odd {
    background-color: #f7f7f8; }
  .confirmation .confirmation__actions {
    display: flex;
    flex-direction: row; }
    .confirmation .confirmation__actions p {
      padding: 5px; }

.row {
  flex-direction: row;
  padding: 10px; }
  .row--odd {
    background-color: #f7f7f8; }
  .row--fetching {
    justify-content: center;
    align-items: center; }
  .row .section {
    display: flex;
    align-items: center;
    padding-right: 15px; }
    .row .section:last-child {
      padding-right: 0; }
    .row .section .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      height: 100%; }
      .row .section .actions .action {
        height: 100%;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .row .section .actions .action:last-child {
          margin-right: 0; }
          .row .section .actions .action:last-child button {
            padding-right: 0; }

.products {
  width: 100%;
  margin-bottom: 40px; }

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #eee;
  border-radius: 2px;
  padding: 10px; }
  .header:last-child {
    border-bottom: none; }
  .header p {
    font-weight: bold; }
  .header .section--top-right {
    display: flex;
    justify-content: flex-end; }
    .header .section--top-right a {
      color: #333;
      text-decoration: none; }
      .header .section--top-right a:hover {
        opacity: 0.7; }

.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body .content {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 2px; }

.row, .row--fetching {
  min-height: 60px;
  width: 100%;
  display: flex; }

.confirmation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .confirmation--odd {
    background-color: #f7f7f8; }
  .confirmation .confirmation__actions {
    display: flex;
    flex-direction: row; }
    .confirmation .confirmation__actions p {
      padding: 5px; }

.row {
  flex-direction: row;
  padding: 10px; }
  .row--odd {
    background-color: #f7f7f8; }
  .row--fetching {
    justify-content: center;
    align-items: center; }
  .row .section {
    display: flex;
    align-items: center;
    padding-right: 15px; }
    .row .section:last-child {
      padding-right: 0; }
    .row .section .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      height: 100%; }
      .row .section .actions .action {
        height: 100%;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .row .section .actions .action:last-child {
          margin-right: 0; }
          .row .section .actions .action:last-child button {
            padding-right: 0; }

.product--hidden {
  display: none; }

.product__section {
  width: 33.3%; }

.product {
  position: relative; }

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #eee;
  border-radius: 2px;
  padding: 10px; }
  .header:last-child {
    border-bottom: none; }
  .header p {
    font-weight: bold; }
  .header .section--top-right {
    display: flex;
    justify-content: flex-end; }
    .header .section--top-right a {
      color: #333;
      text-decoration: none; }
      .header .section--top-right a:hover {
        opacity: 0.7; }

.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body .content {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 2px; }

.row, .row--fetching {
  min-height: 60px;
  width: 100%;
  display: flex; }

.confirmation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .confirmation--odd {
    background-color: #f7f7f8; }
  .confirmation .confirmation__actions {
    display: flex;
    flex-direction: row; }
    .confirmation .confirmation__actions p {
      padding: 5px; }

.row {
  flex-direction: row;
  padding: 10px; }
  .row--odd {
    background-color: #f7f7f8; }
  .row--fetching {
    justify-content: center;
    align-items: center; }
  .row .section {
    display: flex;
    align-items: center;
    padding-right: 15px; }
    .row .section:last-child {
      padding-right: 0; }
    .row .section .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      height: 100%; }
      .row .section .actions .action {
        height: 100%;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .row .section .actions .action:last-child {
          margin-right: 0; }
          .row .section .actions .action:last-child button {
            padding-right: 0; }

.orders {
  width: 100%; }

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #eee;
  border-radius: 2px;
  padding: 10px; }
  .header:last-child {
    border-bottom: none; }
  .header p {
    font-weight: bold; }
  .header .section--top-right {
    display: flex;
    justify-content: flex-end; }
    .header .section--top-right a {
      color: #333;
      text-decoration: none; }
      .header .section--top-right a:hover {
        opacity: 0.7; }

.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body .content {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 2px; }

.row, .row--fetching {
  min-height: 60px;
  width: 100%;
  display: flex; }

.confirmation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .confirmation--odd {
    background-color: #f7f7f8; }
  .confirmation .confirmation__actions {
    display: flex;
    flex-direction: row; }
    .confirmation .confirmation__actions p {
      padding: 5px; }

.row {
  flex-direction: row;
  padding: 10px; }
  .row--odd {
    background-color: #f7f7f8; }
  .row--fetching {
    justify-content: center;
    align-items: center; }
  .row .section {
    display: flex;
    align-items: center;
    padding-right: 15px; }
    .row .section:last-child {
      padding-right: 0; }
    .row .section .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      height: 100%; }
      .row .section .actions .action {
        height: 100%;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .row .section .actions .action:last-child {
          margin-right: 0; }
          .row .section .actions .action:last-child button {
            padding-right: 0; }

.order__section {
  width: 20%; }

.order--hidden {
  display: none; }

.order {
  position: relative; }
  .order .order__checkbox, .order .order__name-input {
    display: flex;
    flex-direction: row; }
  .order .order__details {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #eee; }
    .order .order__details .order__details-section {
      width: 50%;
      padding: 10px;
      display: flex;
      flex-direction: row; }
      .order .order__details .order__details-section:first-child {
        border-right: 1px solid #eee; }
      .order .order__details .order__details-section .order__details-title p {
        font-weight: bold; }
      .order .order__details .order__details-section .order__details-body {
        margin-left: 10px;
        width: 100%; }
        .order .order__details .order__details-section .order__details-body p {
          margin-bottom: 2px; }
          .order .order__details .order__details-section .order__details-body p:last-child {
            margin: 0; }

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #eee;
  border-radius: 2px;
  padding: 10px; }
  .header:last-child {
    border-bottom: none; }
  .header p {
    font-weight: bold; }
  .header .section--top-right {
    display: flex;
    justify-content: flex-end; }
    .header .section--top-right a {
      color: #333;
      text-decoration: none; }
      .header .section--top-right a:hover {
        opacity: 0.7; }

.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body .content {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 2px; }

.row, .row--fetching {
  min-height: 60px;
  width: 100%;
  display: flex; }

.confirmation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .confirmation--odd {
    background-color: #f7f7f8; }
  .confirmation .confirmation__actions {
    display: flex;
    flex-direction: row; }
    .confirmation .confirmation__actions p {
      padding: 5px; }

.row {
  flex-direction: row;
  padding: 10px; }
  .row--odd {
    background-color: #f7f7f8; }
  .row--fetching {
    justify-content: center;
    align-items: center; }
  .row .section {
    display: flex;
    align-items: center;
    padding-right: 15px; }
    .row .section:last-child {
      padding-right: 0; }
    .row .section .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      height: 100%; }
      .row .section .actions .action {
        height: 100%;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .row .section .actions .action:last-child {
          margin-right: 0; }
          .row .section .actions .action:last-child button {
            padding-right: 0; }

* {
  box-sizing: border-box; }

.App {
  width: 100%;
  padding: 0 200px;
  margin-bottom: 50px; }

p {
  margin: 0;
  font-size: 14px; }

input[type='text'], input[type='number'] {
  border: 1px solid #eee;
  border-radius: 2px;
  width: 100%;
  height: 31px;
  font-size: 14px;
  padding: 0 10px; }
  input[type='text']:focus, input[type='number']:focus {
    outline: none; }

input[type='checkbox'] {
  margin-left: 8px; }

textarea {
  border: 1px solid #eee;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 5px 10px; }
  textarea:focus {
    outline: none; }

button {
  appearance: none;
  border: none;
  padding: 5px;
  background-color: transparent; }
  button:focus {
    outline: none; }
  button:hover {
    opacity: 0.6;
    cursor: pointer; }
